/* resources/css/app.css */
/* stylelint-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable */

/* Custom styles */
body {
  font-family: 'Poppins', sans-serif;
}


